---
title: "The Website Weekly Newsletter"
preheader: "đŸ‘€ Lorem, ipsum, and much dolor in this week's edition"
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-gray-100
css:
---
<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-Mulish bg-gray-200" >
       <tr>
         <td align="center" class="sm:px-16">
           <div class="bg-white w-600">
          <table class="w-600 bg-white sm:w-full">
              <tr class="manga">
                <td><img src="../images/logo.png" class="ml-32 mt-32" width="150" alt="logo"></td>
                
                <table class="w-600 bg-white pt-11" >
                  <tr>
                    <td class="w-48 sm:w-16 "></td>
                    <td>
                      <h1 class="m-0 mb-11 sm:text-2xl text-5xl text-blue-500 text-center font-bold">
                        Raise a Reader</h1>
                    </td>
                    <td class="w-48 sm:w-16"></td>
                  </tr>
              </table>
              <table>
                <tr>
                  <td class="w-600">
                
                    <p class="m-0 mb-24 text-justify px-32 text-sm text-gray-500 leading-28">Hi {{First Name}},</p>

                     <p class="m-0 mb-24 text-justify px-32 text-2 text-sm text-gray-500 leading-28"> 
                      I wanted to personally welcome you to Ello, which I built to help my own daughter Lily become a confident, independent reader. I’m excited to share it with you and your family                       
                    <br>
                    <br>
                    As a reminder, with Ello each month your child will get: <br></p>
                      <ul class="m-0 mb-24 text-justify px-64 text-sm text-gray-500 leading-28">
                      <li >5 expertly selected real books to inspire your child</li>
                      <li >Access to the Ello app to teach your child</li>
                      <li >Our behavioral motivation system to motivate your child</li>
                      <ul>
      
                      <p class="m-0 mb-24 text-justify -ml-64 text-2 text-sm text-gray-500 leading-28">As a special thanks for being so patient you’re getting two months of Ello membership for the price of one - that’s 2 months and 10 books for just $24.98. I have no doubt you’ll see a change in your child’s reading by then, but if you haven’t, we will refund your subscription - no questions asked.</p>
                      <p class="m-0 mb-24 text-justify  -ml-64 text-2 text-sm text-gray-500 leading-28">You must redeem this invite by XXX to claim your spot and qualify for the special offer. After that your invite will expire.</p>
                      
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <div class="text-center mt-64">
                    <a
                      href="#"
                      class="inline-block py-16 px-48 rounded-3xl text-base font-semibold no-underline text-white bg-orange-500 hover:bg-red-600"
                    >
                      <span>CLAIM YOUR SPECIAL OFFER</span>
                    </a>
                  </div>
                </tr>
              </table>
              <table class="w-600 -mb-7">
                <tr>
                  <td>
                    <div><img src="../images/51.png" alt="kid" class="ml-0 mb-52 mt-52"  ></div>
                  </td>
                </tr>
              </table>
              <table class="bg-gray-100">
                <tr class="text-gray-500">
                  <td class="px-12 sm:px-24 py-16 bg-cool-gray-300 rounded text-left">
                    <img src="../images/footer.svg" class="sm:mt-32 " alt="">
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td class="w-600 px-20 bg-gray-100 pb-60">
                   <p class="m-0 mb-12 text-justify px-32 text-2 text-sm text-gray-500 leading-28">
                     Adobe services,like Adobe creative cloud,are available only to users 13 and older, use of Adobe services and applications requires agreement with the applicable <a><u>Term of Use</u></a> and <a><u>Adobe privacy policy.</u></a><br>
       
       Adobe, the Adobe logo,creative cloud,creative cloud logo,lightroom and photoshop are either registered trademarks or tradeMarks of Adobe in united states and/or other countries.
       All other trademarks are the property of their respective owners.<br>
       
       This is a marketing email from Adobe system software ireland limited, 4-6 RiverWalk, CityWest Business Park,Dublin 24, Ireland.<br>
       Click here to <a><u>unsubscribe</u></a> or send an unsubscribed request to the postal address above.please review the <a><u>Adobe privacy policy.</a></u><br>
       
       To ensure future delivery of email add <a><u>mail@mail.adobe.com</u></a> to your address book,contact,or safe sender list.<br>
       
       Please do not reply to this message. To contact Adobe,find option <a></u>online.<a></u><br>
       
       Registered office:adobe systems software Ireland Limited, 4-6 RiverWalk,cityWest Business park.Dublin 24,Ireland .
       Registered number:344992<br>
       <a><u>Read online</u></a>
                   </p>
                  </td>
                </tr>
               </table>
              </tr>
          </table>
        </div>
         </td>
       </tr>
    </table>
  </block>
</extends>
