---
title: "The Website Weekly Newsletter"
preheader: "đŸ‘€ Lorem, ipsum, and much dolor in this week's edition"
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-gray-100
css:
---
<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-Mulish bg-gray-200" >
       <tr>
         <td align="center" class="sm:px-16">
           <div class="bg-yellow-400 w-600">
          <table class="w-600 sm:w-full">
              <tr class="manga">
                <td><img src="../images/logo.png" class="ml-44 mt-32" width="75" alt="logo"></td>
           
                <table class="w-600 bg-yellow-400 pt-64" >
                  <tr>
                    <td class="w-48 sm:w-16 "></td>
                    <td>
                      <h1 class="m-0  sm:text-2xl text-5xl text-white text-center font-bold">Can’t stop<br>
                        reading!</h1>
                    </td>
                  </tr>
              </table>
              <table class="w-600 bg-yellow-400 " >
                <tr>
                  <td class="w-48 sm:w-16 "></td>
                  <td>
                    <p class="mb-28 text-lg leading-28 text-center text-white">Collect badges to unlock bonus books
                      <br>and other cool prizes.</p>                  </td>
                  <td class="w-48 sm:w-16"></td>
                </tr>
            </table>
            <table class="mb-16">
              <tr>
                <div class="text-center">
                  <a
                    href="#"
                    class="inline-block py-16 px-48 rounded-3xl text-base font-semibold no-underline text-white bg-orange-500 hover:bg-red-600"
                  >
                    <span>LET'S READY</span>
                  </a>
                </div>
              </tr>
            </table>
            <table class="w-600 ">
              <tr>
                <td>
                  <div><img src="../images/littlegirl.png" width="600" alt="books"></div>
                </td>
              </tr>
            </table>
      
              <table class="bg-gray-100">
                <tr class="text-gray-500">
                  <td class="px-12 sm:px-28 py-16 bg-cool-gray-300 rounded text-left">
                    <img src="../images/footer.svg" class="sm:mt-32 " alt="">
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td class="w-600 px-16 bg-gray-100 pb-60">
                   <p class="m-0 mb-12 text-justify px-32 text-2 text-sm text-gray-500 leading-28">
                     Adobe services,like Adobe creative cloud,are available only to users 13 and older, use of Adobe services and applications requires agreement with the applicable <a><u>Term of Use</u></a> and <a><u>Adobe privacy policy.</u></a><br>
       
       Adobe, the Adobe logo,creative cloud,creative cloud logo,lightroom and photoshop are either registered trademarks or tradeMarks of Adobe in united states and/or other countries.
       All other trademarks are the property of their respective owners.<br>
       
       This is a marketing email from Adobe system software ireland limited, 4-6 RiverWalk, CityWest Business Park,Dublin 24, Ireland.<br>
       Click here to <a><u>unsubscribe</u></a> or send an unsubscribed request to the postal address above.please review the <a><u>Adobe privacy policy.</a></u><br>
       
       To ensure future delivery of email add <a><u>mail@mail.adobe.com</u></a> to your address book,contact,or safe sender list.<br>
       
       Please do not reply to this message. To contact Adobe,find option <a></u>online.<a></u><br>
       
       Registered office:adobe systems software Ireland Limited, 4-6 RiverWalk,cityWest Business park.Dublin 24,Ireland .
       Registered number:344992<br>
       <a><u>Read online</u></a>
                   </p>
                  </td>
                </tr>
               </table>
              </tr>
          </table>
        </div>
         </td>
       </tr>
    </table>
  </block>
</extends>
