---
title: "The Website Weekly Newsletter"
preheader: "đŸ‘€ Lorem, ipsum, and much dolor in this week's edition"
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-gray-100
css:
---
<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-Mulish bg-gray-200" >
      <tr>
        <td align="center" class="sm:px-16">
          <div class="bg-white w-600">
            <table class="w-600 sm:w-full">
              <tr class="manga bg-blue-500">
                <td><img src="../images/logo.svg" class="ml-32 mt-32" width="75" alt="logo"></td>
                <td><img src="../images/circleoverlap.png" class="ml-72 mt-32 float-right" width="100"alt="icon_cirle"></td>
                <td><img src="../images/sideicon.png" class="ml-16 mt-96 float-right" width="200" alt="logo"></td>
                <table class="w-600 bg-blue-500 pt-64" >
                  <tr>
                    <td class="w-48 sm:w-16 "></td>
                    <td>
                      <h1 class="m-0 mb-16 sm:text-2xl text-5xl text-white text-center font-bold">Your books are<br>on their way</h1>
                    </td>
                    <td class="w-48 sm:w-16"></td>
                  </tr>
                  <table class="w-600 bg-blue-500 pt-16">
                    <tr>
                      <td>
                        <div><img src="../images/Image.png" alt="little elephant" class="ml-72 -mb-52 mt-52" width="350" ></div>
                      </td>
                    </tr>
                  </table>
                  <table>
                    <tr>
                      <td class="w-600">
                        <h2 class="mt-96 mb-24 text-lg leading-24 text-center text-gray-800">Next month's books have been shipped</h2>
                        <p class="m-0 mb-24 text-justify px-32 text-sm text-gray-500 leading-28">Hi Sarah,</p>
    
                         <p class="m-0 mb-24 text-justify px-32 text-2 text-sm text-gray-500 leading-28">
                      
                     

                          5 new books are on their way to you. Another exciting month of reading for your child ahead! 5 new books are on their way to you. Another exciting month of reading for your child ahead!5 new books are on their way to you. Another exciting month of reading for your child ahead!
                          <br>
                          <br>
                          Use the link below to track your package:
                          <br><br>usps.com/tracking/8589398985039
                          
                        
                          
                          
                            </p>
      
                          <p class="m-0 mb-24 text-justify px-32 text-sm text-gray-500 leading-28">Best,<p>
                         <p class="m-0 mb-24 text-justify px-32 text-sm text-gray-500 leading-28">Tom,Ello<p>
                          
                          </p>
                      </td>
                    </tr>
                  </table>
                  <table>
                    <tr>
                      <td class="w-600">
                        <img src="../images/lowerhillpenguine.png" alt="panda" class="mt-56">
                      </td>
                    </tr>
                  </table>
                  <table class="bg-gray-100">
                    <tr class="text-gray-500">
                      <td class="px-12 sm:px-24 py-16 bg-cool-gray-300 rounded text-left">
                        <img src="../images/footer.svg" class="sm:mt-32 " alt="">
                      </td>
                    </tr>
                  </table>
                  <table>
                    <tr>
                      <td class="w-600 px-20 bg-gray-100 pb-60">
                       <p class="m-0 mb-12 text-justify px-32 text-2 text-sm text-gray-500 leading-28">
                         Adobe services,like Adobe creative cloud,are available only to users 13 and older, use of Adobe services and applications requires agreement with the applicable <a><u>Term of Use</u></a> and <a><u>Adobe privacy policy.</u></a><br>
           
           Adobe, the Adobe logo,creative cloud,creative cloud logo,lightroom and photoshop are either registered trademarks or tradeMarks of Adobe in united states and/or other countries.
           All other trademarks are the property of their respective owners.<br>
           
           This is a marketing email from Adobe system software ireland limited, 4-6 RiverWalk, CityWest Business Park,Dublin 24, Ireland.<br>
           Click here to <a><u>unsubscribe</u></a> or send an unsubscribed request to the postal address above.please review the <a><u>Adobe privacy policy.</a></u><br>
           
           To ensure future delivery of email add <a><u>mail@mail.adobe.com</u></a> to your address book,contact,or safe sender list.<br>
           
           Please do not reply to this message. To contact Adobe,find option <a></u>online.<a></u><br>
           
           Registered office:adobe systems software Ireland Limited, 4-6 RiverWalk,cityWest Business park.Dublin 24,Ireland .
           Registered number:344992<br>
           <a><u>Read online</u></a>
                       </p>
                      </td>
                    </tr>
                   </table>
              </table>
            </table>
              </tr>
            </table>
          </div>
        <td>
      <tr/>
    </table>
  </block>
</extends>